td{
    border: 1px solid;
    border-radius: 5px;
    padding: 5px;
    margin: 5px !important;
    box-shadow: 0.25em 0.25em  0.25em  rgba( 0, 0, 0, 0.6 );
}
table {
    border-spacing: 10px;
  }
caption{
    text-align: left;
    font-weight: bold;
    margin-bottom:10px ;
}